.part5 {
    color: #6f7072;
}

/* .part5row {
    margin-right: 2em;
} */
/* .part5row div {
    padding-left: 2em;
} */

@media all and (min-width: 375px) and (max-width: 767px) {
    .part5row div {
        display: flex;
    }
    .part5row div div:nth-child(2) {
        flex-direction: column;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
    .part5row > div {
        display: flex;
    }
    .part5row > div div:first-child {
        margin-top: 1em;
    }
}