.part5head {
    width: 15em;
}
.part5head h2 {
    font-size: 1.5em;
    font-weight: 900;
    padding: .5em 0em;
}
@media all and (min-width: 375px) and (max-width: 767px) {
    .part5head {
        width: max-content;
    }

}

@media all and (min-width: 768px) and (max-width: 1023px) {    
    .part5head {
        width: auto;
    }
}