.arr {
    color: #0070cd;
}

.descound {
    top: 5%;
    left: 85%;
}

#p3 {
    color: #6f7072;
}
.part3logo img {
    width: -webkit-fill-available;
}

@media all and (min-width: 375px) and (max-width: 767px) {
    .part3logo {
        width: 4em;
        height: 7em;
    }
}