.part4 {
    background-color: #e2e6ea;
}
#carousel div {
    cusror: pointer;
    opacity: 1;
}
#carousel h5 {
    font-size: 1.8em;
}
#carousel span:first-child {
    text-decoration: line-through;
    padding-left: 0.5em;
    color: #dbd9d9;
}
#carousel span:nth-child(2) {
    color: #0070cd;
}

@media all and (min-width: 375px) and (max-width: 767px) {
    
    #carsour div div h5 {
        font-size: 1.3em;
    }
}

@media all and (min-width: 768px) {
    #carsour div div h5 {
        font-size: 1.3em;
    }
}