.cT {
    font-size: 1.3em !important;
    color: #6F7072;
}
@media all and (min-width: 375px) and (max-width: 767px) { 
    .cT {
        font-size: 1.3em !important;
    }
    
}
@media all and (min-width: 768px) {
    .cT {
        font-size: 1.8em;
    }

}