.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 60px;
}

.footer-logo {
  display: none;
}

.footer-rule {
  font-weight: 700;
  font-size: 23px;
  text-align: center !important;
}

.social-media-container {
  margin-top: 20px;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social-media-container i {
  color: rgb(0, 112, 205);
  font-size: 30px;
}

@media only screen and (min-device-width: 600px) {
  .footer-logo {
    display: flex;
    margin-right: 40px;
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer-logo img {
    width: auto;
    height: 20px;
    margin-bottom: 30px;
  }

  .social-media-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .social-media-container a {
    text-decoration-line: none;
    text-decoration: none;
    font-size: 20px;
    display: table-cell;
  }

  .social-media-container i {
    color: rgb(0, 112, 205);
    margin-left: 30px;
    font-size: 35px;
  }
}
