.row {
    width: 100%;
    overflow: hidden;
}
#item {
    opacity: 0.2;
}
.carousel-inner {
    position: relative;
}

.sliderContent {
    position: absolute;
    padding: 0% 5%;
}

.top {
    color: #6f7072;
}

.bottom {
    margin-top: 8%;
    width: 85em;
}

.second {
    height: 9em;
}
.reserve {
    text-decoration: none;
    justify-content: center;
    color: #6f7072;
}
.reserve:hover {
    text-decoration: none;
    border-bottom: 2px solid #0070cd;
}
.reserveActive {
    border-bottom: 2px solid #0070cd;
    text-decoration: none;
    color: #0070cd;
}
.reserve div:first-child {
    align-self: center;
    padding: 3%;
}
.reserve div:first-child i {
    font-size: 5rem;
}

.call {
    text-decoration: none;
    justify-content: center;
    color: #6f7072;
}
.call:hover {
    text-decoration: none;
    border-bottom: 2px solid #0070cd;
}
.activeCall {
    text-decoration: none;
    border-bottom: 2px solid #0070cd;
    color: #0070cd;
}
.call div:first-child {
    align-self: center;
    padding: 3%;
}
.call div:first-child i {
    font-size: 5rem;
}

@media screen and (max-width: 768px) {
    .top h1, .top h2 {
        font-size: 22px;
        line-height: 15%;
    }
    .bottom {
        margin-top: -4%;
    }
}  


.bottomMob {
    margin: -6em auto;
}
.bottomMob .firstMob {
    padding: 2%;
    background-color: #e5f1ff;
}
.bottomMob .firstMob a:hover {
    background-color: #0070cd;
    color: #e5f1ff;
}
.bottomMob h4 i {
    font-size: 1.3em;
}

.secondMob {
    margin: 0em -1.2em 0em 0.3em;
}


#clinic h4 {
    text-align: center;
}
#clinic h4 a {
    text-decoration: underline;
    color: #0070cd;
}

#drug {
}
#drug a {
    text-decoration: underline;
    color: #0070cd;
}
#calldoc {
    /* margin-top: -12em; */
}
#calldoc a {
    text-decoration: underline;
    color: #0070cd;
}



