.modal-content {
  margin-top: 50px;
}
input[type="radio"] {
  cursor: pointer;
}

.form {
  margin: 0;
  background: transparent;
}

.radio-container {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.option {
  color: gray;
  border: 1px solid gray;
  margin: 0 5px;
  padding: 1px 10px;
  border-radius: 5px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  color: white;
  background-color: rgb(1, 112, 206);
}

/* input[type="radio"]:checked + label::after {
  content: "";
} */
.landmark {
  color: #3e8ddd;
}

.modal-tittle {
  color: rgb(88, 89, 91);
  font-size: 20px;
  font-weight: 600;
}

.col {
  margin: 0 5px;
}
.row {
  margin: 5px 0;
}

.form label:not(.option) {
  margin-top: 5px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.address-btn{
  display: flex !important;
  justify-content: space-around !important;
  align-items: center;
}

@media only screen and (min-device-width: 576px) {
}
