* {
    padding: 0%;
    margin: 0;
    direction: rtl;
    box-sizing: border-box;
}
#myform {
    background-color: #f4f7fa;
    padding: 2em;
    margin: 4em;
    color: #6f7072;
    border-bottom-left-radius: 5em;
}
#myform .dropdown div {
    background-color: white;
    width: 100%;
}
#myform .dropdown div button::after {
    margin-right: 18em;
}
#myform > button {
    width: 100%;
}
.header {
    font-size: 1.2em;
    margin-bottom: 1em;
    
}
.header h5 {
    color: #0070cd;
}

