#reserve, .reserveID {
    display: flex;
    justify-content: start;
    border: 1px solid #6f7072;
    border-radius: 15px;
    margin-top: 1em;
}
#reserve div {
    flex: 1;
}
#reserve button {
    width: -webkit-fill-available;
}
#reserve button h5 {
    text-align: justify;
    color: #6f7072;
}
#reserve button h3 {
    display: inline-block;
    color: #0070cd;
    margin-right: -3em;
    margin-left: 1em;
    font-size: large;
}
#reserve button h3::after {
    color: #6f7072;
}


.ulContainer {
    display: flex;
    text-align: initial;
    padding: 1em;
}
.ulContainer .right li:first-child, .ulContainer .left li:first-child {
    font-weight: bolder;
    color: #6f7072;
}
.ulContainer .right li, .ulContainer .left li {
    padding: 0.2em;
}
.ulContainer .right li a, .ulContainer .left li a {
    color: #0070cd;
    font-size: 1.2em;
}
.ulContainer .right li a:hover, .ulContainer .left li a:hover {
    text-decoration: none;
}

.doc h5 {
    color: #6f7072;
}
.doc h3 {
    color: #0070cd;
    font-size: larger;
}
.reserveID h3 span {
    margin: 5%;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    #reserve button h3 {
        font-size: 1.3em;
        margin-right: 0em;
    }
}