.call1 {
    position: absolute;
    border: 1px solid black;
    margin: 1% 25%;
    border-radius: 13px;
}
.call1 .c1 h5 {
    color: #6f7072;
}
.call1 .c1 h3 {
    color: #0070cd;
}
.call1 .c2 {
    border-left: none;
    padding: 1.8%;
    margin: -1.1%;
    border-radius: 12px;
    color: white;
    text-align: center;
}
.call1 .c2 h3 {
    color: white;
    font-size: 2rem;
    padding: 1%;
}
.call1 .c2 h3:hover {
    cursor: pointer;
}

.call1 {
    margin-top: -8em;
    padding: 0em 1em 0em 0em;
    top: 110%;
}
.call1 .c2 {
    margin-left: 0em;
}