.part7 {
    background-color: #0070cd;
    color: white;
}
.part7 a {
    color: white;
}
.part7 .col1, .part7 .col2, .part7 .col3, .part7 .col4, .part7 .col5 {
    display: flex;
    flex-direction: column;
    padding: 0em;
    margin-left: 2em;
}
.part7 .col1 a, .part7 .col2 a, .part7 .col3 a, .part7 .col4 a, .part7 .col5 a {
    padding: 0.2em;
}
.part7 .col1 img, .part7 .col2 img, .part7 .col3 img, .part7 .col4 img, .part7 .col5 img {
    padding: 0.2em;
    margin-left: 2em;
}
.part7 .col1 span, .part7 .col2 span, .part7 .col3 span, .part7 .col4 span, .part7 .col5 span {
    padding: 0.2em;
    font-size: 2em;
    font-weight: bolder;
}
.part7 .col1 #col5Span, .part7 .col2 #col5Span, .part7 .col3 #col5Span, .part7 .col4 #col5Span, .part7 .col5 #col5Span {
    text-align: center;
}

@media all and (min-width: 375px) and (max-width: 767px) {
    .col1 {
        order: 2;
    }
    .col2 {
        order: 1;
    }
    .col3 {
        order: 4;
    }
    .col5 {
        order: 5;
    }
    .col4 {
        order: 3;
    }

    .col6 {
        order: 6;
    }

    .col1 span, .col2 span, .col3 span, .col4 span, .col5 span {
        font-size: 1.5em !important;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
    .col1, .col2, .col3, .col4, .col5 {
        padding: 0em;
        margin-left: 0.2em;
    }
    .col1 span, .col2 span, .col3 span, .col4 span, .col5 span {
        font-size: 1.4em !important;
    }
}