
.col2, .col3, .col4{
    display: flex;
    flex-direction: column;
    padding: 0em;
    margin-left: 2em;
}
.col2 a, .col3 a, .col4 a {
    padding: 0.2em;
}
.col2 a:hover, .col3 a:hover, .col4 a:hover {
    color: white;
    text-decoration: underline;
}
.col2 img, .col3 img, .col4 img {
    padding: 0.2em;
    margin-left: 2em;
}
.col2 span, .col3 span, .col4 span {
    padding: 0.2em;
    font-size: 1.5em;
    font-weight: bolder;
}

@media all and (min-width: 375px) and (max-width: 767px) {
    .col2 {
        order: 1;
    }
    .col3 {
        order: 4;
    }
    .col4 {
        order: 3;
    }


    .col2 span, .col3 span, .col4 span{
        font-size: 1.5em !important;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
    .col2, .col3, .col4 {
        padding: 0em;
        margin-left: 0.2em;
    }
    .col2 span, .col3 span, .col4 span {
        font-size: 1.4em !important;
    }
}