@media screen and (min-width: 769px) {
    #img11 {
      background: url(./../headerImg/header1.jpg);
      height: 180px;
      padding-right: 4em;
      padding-top: 1em;
      /* overflow: hidden; */
    }

    #img11:lang(ar){
      background: url(./../headerImg/header1\ -\ mirror.jpg);
      height: 180px;
      padding-left: 4em;
      padding-top: 1em;
}
  }
  @media screen and (max-width: 768px) {
    #img11 {
        background: url(./../headerImg/header2.jpg);
        height: 89.5px;
      background-size: cover;
      width: 100%;
      /* overflow-y: hidden; */
    }
  
    #aside1 {
      display: none;
    }
  }
  .btnTogle
  {
    background-color: aqua;
    /* margin-left: 7%; */
    border-radius:10px 10px  10px 10px;
    -webkit-border-radius:10px 10px  10px 10px;
    -moz-border-radius:10px 10px  10px 10px;
    -ms-border-radius:10px 10px  10px 10px;
    -o-border-radius:10px 10px  10px 10px;
}
.btnTogle:lang(ar)
  {
    background-color: aqua;
    /* margin-left: 30rem; */
    /* margin-right: 7%; */
    /* right:0px !important;
    float: right; */
    border-radius:10px 10px  10px 10px;
    -webkit-border-radius:10px 10px  10px 10px;
    -moz-border-radius:10px 10px  10px 10px;
    -ms-border-radius:10px 10px  10px 10px;
    -o-border-radius:10px 10px  10px 10px;
}

  #btnGroupDrop7 {
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    width: 30em;
    height: 5em;
    background-color: #ffffff;
    border: none;
    color: #0070cd;
  }
  #btnGroupDrop7:lang(ar) {
    border-radius:10px 0 0 10px ;
    -webkit-border-radius:10px 0 0 10px ;
    -moz-border-radius:10px 0 0 10px ;
    -ms-border-radius:10px 0 0 10px ;
    -o-border-radius:10px 0 0 10px ;
    width: 30em;
    height: 5em;
    background-color: #ffffff;
    border: none;
    color: #0070cd;
    right: 0px;
}
  #btnGroupDrop7 span {
    margin-right: 10px;
  }
  #btnGroupDrop7:focus {
    background-color: #dbe8f6;
    transition-duration: 1s;
  }
  
  #search {
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    width: 12em;
    height: 5em;
    background-color: #ef0f0f;
}
  #search:lang(ar) {
    border-radius:0 10px  10px 0;
    -webkit-border-radius:0 10px  10px 0;
    -moz-border-radius:0 10px  10px 0;
    -ms-border-radius:0 10px  10px 0;
    -o-border-radius:0 10px  10px 0;
    width: 12em;
    height: 5em;
    background-color: #ef0f0f;
}
  #btnGroupDrop1::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    font-size: 2em;
    color: #aeaeac;
    margin-right: 0.1em;
  }
  
  .ulContainer {
    display: flex;
    text-align: initial;
    padding: 2em;
  }
  
  .ulContainer .right li:first-child, .ulContainer .left li:first-child {
    font-weight: bolder;
    color: #6f7072;
  }
  
  .ulContainer .right li, .ulContainer .left li {
    padding: 0.2em;
  }
  
  .ulContainer .right li a, .ulContainer .left li a {
    color: #0070cd;
    font-size: 1.2em;
  }
  
  .ulContainer .right li a:hover, .ulContainer .left li a:hover {
    text-decoration: none;
  }
  
  #alert {
    background-color: #0170ce;
    color: white;
    margin-right: -3.5em;
    height: 7em;
    width: 12em;
    text-align: center;
    border: none;
    z-index: 1200;
  }
  #alert:lang(ar){
    background-color: #0170ce;
    color: white;
    margin-right: -3.5em;
    height: 7em;
    width: 12em;
    text-align: center;
    border: none;
    z-index: 1200;
    right: 53px;
  }
  
  .row {
    --bs-gutter-x: 0!important;
  }
  
  .second {
    background-color: #e2e6ea;
  }
  
  .breadcrumb-item + .breadcrumb-item::after {
    float: right;
    padding-right: 0.5rem;
    color: #6c757d;
    content: var(--bs-breadcrumb-divider, "/");
  }
  .deptMenu {
    width: auto;
}
.deptMenu2 {
    width: max-content;
}
.common {
    color: #0070cd;
}