.row {
    --bs-gutter-x: 0!important;
  }
  
  .second {
    background-color: #e2e6ea;
    width:100%;
    margin-top: 0 !important;
  }
  
  .breadcrumb-item + .breadcrumb-item::after {
    float: right;
    padding-right: 0.5rem;
    color: #6c757d;
    content: var(--bs-breadcrumb-divider, "/");
  }