.section2 {
  padding: 20px !important;
}
.section2 h2 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.section2-icons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.icon-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  border: 1px solid rgb(0, 112, 205);
  border-radius: 50%;
  height: 55px;
  width: 55px;
}
.icon-holder img {
  width: 22px !important;
  height: auto;
}
.icon-holder + div {
  text-align: center;
  width: 70%;
  font-weight: 700;
  color: rgb(0, 112, 205);
  font-size: 15px;
  margin-top: 10px;
}
.fa-phone-alt {
  font-size: 22px;
  color: rgb(0, 112, 205);
}
[type="file"] {
  width: 10px;
  height: 10px;
  z-index: -1;
  opacity: 0;
  position: absolute;
}
.callBtn {
  border: 0px;
  outline: 0px;
  background-color: transparent;
}
@media only screen and (min-device-width: 600px) {
  .section2 {
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section2 h2 {
    font-size: 35px;
  }
  .section2-icons {
    justify-content: space-around;
  }
  .icon-container {
    margin-top: 30px;
  }
  .icon-container:nth-child(1) {
    margin-left: 200px;
  }
  .icon-container:nth-child(3) {
    margin-right: 200px;
  }
  .icon-holder {
    height: 85px;
    width: 85px;
    font-size: 22px;
  }
  .icon-holder img {
    width: 35px !important;
  }
  .icon-holder + div {
    width: 70%;
    font-size: 22px;
  }
  .fa-phone-alt {
    font-size: 44px;
    color: rgb(0, 112, 205);
  }
}
