.section2 {
  padding: 25px 0px;
}

.section2 h2 {
  font-size: 20px;
}

.search-container {
  width: 90%;
  max-width: 873px;
  margin: 20px;
  padding: 0;
}

.section2 label div {
  font-size: 15px;
  margin-top: 20px;
}

.section2-icons {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.icon-holder {
  height: 60px;
  width: 60px;
  position: relative;
}

.icon-holder img {
  width: 25px;
  height: auto;
  margin: 0 !important;
}

.fa-phone-alt {
  font-size: 25px;
}
