.formStyle {
  background-color: #fff !important;
  padding: 0 !important;
  margin: 0 !important;
  color: black !important;
}

.form-control {
  height: 50px !important;
}

.modal-content {
  border-radius: 15px !important;
  box-shadow: 5px 10px 20px hsla(0, 0%, 0%, 0.5);
}

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header {
  border-bottom: 0 !important;
}

.modal-header > .btn-close {
  font-size: 15px !important;
  top: 15px !important;
  right: 20px !important;
}

.modal-title {
  margin: 0 !important;
  display: flex !important;
  justify-content: center !important;
  font-weight: bolder;
}

sup {
  color: red;
}
.phone-number {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
.otp-modal {
  height: 375px;
}
.otp-input {
  width: 50px;
  display: flex;
  justify-content: space-around;
}
.otp-input input {
  border: 0;
  border-bottom: 2px solid rgb(88, 89, 91);
  outline: 0;
  font-size: 40px;
}
.otp-input span {
  font-size: 20px;
}
.otp-modal div {
  font-size: 20px;
}
.otp-footer {
  color: rgb(88, 89, 91);
  font-size: 13px !important;
}
.otp-btn {
  width: 400px;
}
.change-phone {
  color: #2e88e2;
  font-weight: 900;
  margin-right: 10px;
  cursor: pointer;
}

@media only screen and (min-device-width: 600px) {
  .modal-dialog {
    width: 750px !important;
    height: auto !important;
    max-width: 750px !important;
  }
  .modal-content {
    padding: 15px 50px !important;
  }

  .modal-header > .btn-close {
    position: absolute !important;
    top: 30px !important;
    right: 60px !important;
  }
}
