.descound {
    top: 5%;
    left: 85%;
}
.cT {
    font-size: 1.3em !important;
    color: #0070cd;
}
@media all and (min-width: 375px) and (max-width: 767px) { 
    .c {
        font-size: 1.8em;
        font-weight: bolder;
    }
    .cT {
        font-size: 1.3em !important;
    }
    
}
@media all and (min-width: 768px) {
    .cT {
        font-size: 1.8em;
    }

}